{}

;; In the video, Sean actually walks through the content of his
;; `.clojure/deps.edn` file (available from his GitHub repository).

;; The command, `clj -Sdescribe', describes the current clj environment.`

;; The commond, `clj -Spath`, describes the classpath using all the
;; `deps.edn` files.

;; To make the output easier to read, one can pipe the output into the Unix
;; utility, `tr`. For example, `clj -Spath | tr ':' '\n' | sort`. As an
;; alternative on my system, one can run the command,
;; `clj -Spath | python3 ~/professional/projects/pyutils/path2list.py -p -`.

;; Suppose one wants to add some directories, for example, the test
;; directories. One would add the argument `A:test` to the previous `clj`
;; invocation. Specifically, `clj -A:test -Spath | tr ':' '\n' | sort`.
;;
;; Suppose you actually want to run tests; for example, the Congnitect test
;; runner. The command is `clj -A:test:runner`. Unfortunately, I do not have
;; an alias named `:runner` so I see a warning:
;;
;; ```
;; WARNING: Specified aliases are undeclared and are not being used: [:runner]
;; ```

;; In the video, executing the command `clj -A:test -R:runner` (specifying
;; **only resources** in the `:runner` alias) simply runs the Clojure
;; interpreter. In this case, we did not ask `clj` to actually run anything.
;; However, in the current version of the interpreter `1.12.3`, executing
;; this command prints the message:
;; ```
;; -R is no longer supported, use -A with repl, -M for main, -X for exec, -T for tool
;; ```

;; Again, in the video, we can see the affect of these resources by executing
;; `clj -A:test -R:runner -Spath | tr ':' '\n' | sort`. However, using `1.12.3`
;; again produces the message that "-R is no longer supported".

;; Sean describes an interesting "hack." The Clojure interpreter treats a
;; comma, `\,`, as **whitespace**. By replacing white spaces in values to be
;; passed to the interpreter with commas, the shell treats this text as a
;; single chunk of text instead of multple white-space separated (shell)
;; tokens. A convenient work around.

;; The video highlights that, since Clojure 1.8, one can start a
;; **Socket REPL** on a specified port (instead of using nREPL).

;; Perhaps the key take-away: although `clj` may not come with many options
;; "out of the box," one can use the `:aliases` section to build up aliases
;; that I have and do find useful in my work.
